/*
|
|--| Typography System 
|
|------| Font Sizes (px)
|
| 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30
| 36 / 44 / 52 / 62 / 74 / 86 / 98
|
|------| Font Weights
|
| Default: 400
| Medium: 500
| Semi-Bold: 600
| Bold: 700
|
|------| Line Heights
|
| Default: 1
| Paragraph Default: 1.6
|
|------| Letter Spacing
|
|--| Colors | -- Courtesy of the Dracula Theme
|
| Background Color: #282a36 ; rgba(40, 42, 52, 1)
| Current Line: #44475a
| Foreground: #f8f8f2
| Comment: #6272a4
| Cyan: #8be9fd
| Green: #50fa7b
| Orange: #ffb86c
| Pink: #ff79c6
| Purple: #bd93f9
| Red: #ff5555
| Yellow: #f1fa8c
|
|--| Shadows
|
|--| Border Radius
|
|--| Whitespace
|
| 2 / 4 / 8 / 12 / 16 / 24 / 32
| 48 / 64 / 80 / 96 / 128
|
*/

/* Global Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background: #f1fa8c;
    color: #282a36;
}

html {
    /* 10px / 16px = 0.625 = 62.5% */
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1;
    overflow-x: hidden;
}

/*********************************/
/* General / Reusable Components */
/*********************************/