/**********/
/* HEADER */
/**********/

.header {
    background-image: linear-gradient(to bottom,
            rgba(40, 42, 52, 0.8),
            rgba(40, 42, 52, 0.4)),
        url(../img/_DSC3375.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.nav-bar {
    align-items: center;
    display: flex;
    height: 9.6rem;
    justify-content: space-between;
    padding: 0 4.8rem;
    position: relative;
}

.logo:link,
.logo:visited {
    color: #f8f8f2;
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 600;
    /* letter-spacing: -2.5px; */
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
}

.logo:hover,
.logo:active {
    color: #f1fa8c;
    scale: 1.2;
}

/**************/
/* NAVIGATION */
/**************/

.main-nav-list {
    align-items: center;
    display: flex;
    gap: 4.8rem;
    list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
    color: #f8f8f2;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #ff79c6;
}

/*********************/
/* MOBILE NAVIGATION */
/*********************/

.btn-mobile-nav {
    background: none;
    border: none;
    cursor: none;
    display: none;
}

.icon-mobile-nav {
    color: #f8f8f2;
    height: 4.8rem;
    width: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/* STICKY */
.sticky .nav-bar {
    /* background-color: pink; */
    background-color: rgba(40, 42, 52, 0.95);
    bottom: 0;
    height: 9.6rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.sticky .header-text {
    margin-top: 9.6rem;
}

/************/
/* ABOUT ME */
/************/

.section-about-me {
    background-color: red;
    height: 100rem;
}

/*************/
/* EDUCATION */
/*************/

.section-education {
    background-color: orange;
    height: 100rem;
}

/*******************/
/* WORK EXPERIENCE */
/*******************/

.section-work-exp {
    background-color: yellow;
    height: 10rem;
}

/**************/
/* CONTACT ME */
/**************/

.section-contact-me {
    background-color: green;
    height: 10rem;
}

/**********/
/* FOOTER */
/**********/

.footer {
    background-color: blue;
    height: 10rem;
}