/* Breakpoint (Large Display): 1920x1080 */

/* |--| Basic Styling |------------------------------------------------------| */

:root {
    --background-color: #282A36;
    --current-line: #44475A;
    --foreground: #F8F8F2;
    --comment: #6272A4;
    --cyan: #8BE9FD;
    --green: #50FA7B;
    --orange: #FFB86C;
    --pink: #FF79C6;
    --purple: #BD93F9;
    --red: #FF5555;
    --yellow: #F1FA8C;

    --title-font: 5rem;
    --sub-title-font: 4rem;
    --section-font: 4rem;
    --h2-font: 3rem;
    --h3-font: 2rem;
    --h4-font: 1.5rem;
    --p-font: 1.17rem;
}

* {
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

*::selection {
    background: var(--yellow);
    color: var(--background-color);
}

body {
    background: var(--background-color);
    color: var(--foreground);
}

section {
    padding: 70px 10%;
}

.button {
    border: 0;
    background: var(--purple);
    border-radius: 0.5rem;
    color: var(--foreground);
    cursor: pointer;
    display: block;
    font-size: var(--p-font);
    margin: 2rem 0;
    padding: 1rem 3.5rem;
    text-decoration: none;
    transition: 0.4s;
    width: fit-content;
}

.button:hover {
    background: var(--cyan);
    color: var(--background-color);
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

/* |--| Scrollbar |----------------------------------------------------------| */

html::-webkit-scrollbar {
    width: 0.5rem;
}


html::-webkit-scrollbar-thumb {
    background-color: var(--pink);
    background-clip: content-box;
}

/* |--| Header |-------------------------------------------------------------| */

header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px 170px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: var(--foreground);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 20px;
    text-shadow: 1px 1px 2px var(--background-color);
}

nav a:hover {
    color: var(--cyan);
    transition: 0.4s;
}

#mobile-nav-menu {
    align-items: center;
    background-color: rgba(40, 36, 54, 0.9);
    border-radius: 0.5rem;
    display: none;
    flex-direction: column;
    height: auto;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

#close-menu {
    align-self: end;
    font-size: var(--h2-font);
}

#mobile-nav-menu a {
    font-size: var(--h2-font);
}

#open-menu {
    cursor: pointer;
    display: none;
    font-size: 2rem;
}

/* |--| Home |---------------------------------------------------------------| */

.home {
    background: center/cover url(images/home/header-wallpaper.jpg);
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-evenly;
    width: 100%;
}

.home-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
    text-shadow: 1px 1px 2px var(--background-color);
}

.home-text h1 {
    color: var(--pink);
    font-size: var(--title-font);
}

.home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

#header-arrow {
    color: var(--foreground);
    font-size: var(--h2-font);
}

/* |--| About Me |-----------------------------------------------------------| */

.about-me-image img {
    border-radius: 0.5rem;
    height: auto;
    max-width: 100%;
    pointer-events: none;
    width: 600px;
}

.about-me-text {
    align-self: center;
    flex-basis: 50%;
}

.about-me-text h2 {
    color: var(--pink);
    font-size: var(--section-font);
    margin-bottom: 1.5rem;
}

.about-me-text p {
    color: var(--foreground);
    font-size: var(--p-font);
    line-height: 1.7;
    margin: 1rem 0;
}

.about-me-text p span {
    color: var(--purple);
}

/* |--| Photo Bar |----------------------------------------------------------| */

.photo-bar {
    background: var(--current-line);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.photo-bar img {
    border-radius: 0.5rem;
    margin: calc(10%/6);
    object-fit: cover;
    overflow: hidden;
    pointer-events: none;
}

/* |--| Education |----------------------------------------------------------| */

.education h2 {
    color: var(--pink);
    font-size: var(--sub-title-font);
    margin-bottom: 1.5rem;
}

.education-opportunity {
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5rem 0;
    padding: 3rem 1.5rem;
}

.education-opportunity:nth-child(odd) {
    background: var(--current-line);
}

.education-opportunity .degree-details {
    border-radius: 0.5rem;
    box-sizing: border-box;
    flex-basis: 25%;
    text-align: center;
}

.education-opportunity .degree-details img {
    border-radius: 0.5rem;
    pointer-events: none;
    width: 300px;
}

.education-opportunity .degree-details h3 {
    color: var(--purple);
    font-size: var(--h3-font);
    margin-top: 1.5rem;
}

.education-opportunity .degree-details h4 {
    color: var(--foreground);
    font-size: var(--h4-font);
    margin-top: 1rem;
}

.education-opportunity .degree-details .degree-info h4 span {
    color: var(--orange)
}

.education-opportunity .degree-details .line {
    border: 1px solid var(--current-line);
    display: inline-flex;
    margin-top: 2rem;
    width: 78%;
}

.edu-select {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
}

.edu-select .tab-titles-edu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.edu-select .tab-link-edu {
    background: transparent;
    border: 0;
    color: var(--current-line);
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
    /* padding: 0.5rem 0.5rem 0.5rem 0; */
    padding-bottom: 0.5rem;
    position: relative;
}

.edu-select .tab-link-edu:hover {
    color: var(--cyan);
    transform: translateY(-5px);
    transition: 0.4s;
}

.edu-select .active-link-edu {
    color: var(--cyan);
}

.tab-contents-edu {
    display: none;
}

.tab-contents-edu.active-tab-edu {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.tab-contents-edu>p {
    color: var(--orange);
    font-size: var(--p-font);
    font-weight: 700;
}

.tab-contents-edu a {
    color: var(--purple);
    font-size: var(--p-font);
    text-decoration: none;
}

.tab-contents-edu a:hover {
    color: var(--cyan);
    transition: 0.4s;
}

.section-topic {
    margin-bottom: 1rem;
}

.section-topic>h3 {
    color: var(--purple);
    font-size: var(--h3-font);
}

.section-topic ul {
    color: var(--foreground);
    column-count: 2;
    font-size: var(--p-font);
    line-height: 1.7;
    margin: 1rem;
}

.section-topic li {
    list-style: circle;
}

.section-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-header h3 {
    color: var(--purple);
    font-size: var(--h3-font);
}

.section-header h4 {
    font-size: var(--h4-font);
}

.section-topic p {
    color: var(--foreground);
    font-size: var(--p-font);
    line-height: 1.7;
    margin: 1rem 0;
}

.section-topic p span {
    color: var(--purple);
}

/* |--| Work Experience |----------------------------------------------------| */

.work-experience h2 {
    color: var(--pink);
    font-size: var(--sub-title-font);
    margin-bottom: 1.5rem;
}

.job {
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5rem 0;
    padding: 3rem 1.5rem;
}

.job:nth-child(odd) {
    background: var(--current-line);
}

.job .employment-details {
    border-radius: 0.5rem;
    box-sizing: border-box;
    flex-basis: 25%;
    text-align: center;
}

.job .employment-details img {
    border-radius: 0.5rem;
    pointer-events: none;
    width: 300px;
}

.job .employment-details h3 {
    color: var(--purple);
    font-size: var(--h3-font);
    margin-top: 1.5rem;
}

.job .employment-details h4 {
    color: var(--foreground);
    font-size: var(--h4-font);
    margin-top: 1rem;
}

.job .responsibilities {
    flex-basis: 70%;
}

.job .two-responsibilities {
    flex-basis: 70%;
}

.job .two-responsibilities .responsibilities:not(:first-child) {
    margin-top: 2rem;
}

.job .two-responsibilities .responsibilities h3 span {
    color: var(--orange);
}

.job .responsibilities h3 {
    color: var(--purple);
    font-size: var(--h3-font);
}

.job .responsibilities h4 {
    color: var(--orange);
    font-size: var(--h4-font);
    margin-top: 1.5rem;
}

.job .responsibilities ul {
    margin-top: 1rem;
}

.responsibilities ul li {
    font-size: var(--p-font);
    line-height: 1.7;
    list-style: circle;
    margin: 0.5rem;
}

.responsibilities ul>ul {
    margin-left: 2rem;
}

.responsibilities span {
    color: var(--purple);
}

.responsibilities span.course-title {
    color: var(--orange);
    font-weight: 700;
}

.multiple-role {
    margin-top: 1.5rem;
}

/* |--| Contact Me |---------------------------------------------------------| */

.contact-me-details {
    flex-basis: 35%;
}

.contact-me-details h2 {
    color: var(--pink);
    font-size: var(--sub-title-font);
    margin-bottom: 1.5rem;
}

.contact-me-detail {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
}

.contact-me-detail p {
    font-size: var(--p-font);
}

.contact-me-detail i {
    color: var(--purple);
    font-size: 2rem;
    margin-right: 1rem;
}

.contact-me-social {
    margin-top: 2rem;
}

.contact-me-social a {
    color: var(--current-line);
    display: inline-block;
    font-size: 2rem;
    margin-right: 0.6rem;
    text-decoration: none;
    transition: 0.4s;
}

.contact-me-social a:hover {
    color: var(--cyan);
    transform: translateY(-5px);
}

.contact-me-form {
    flex-basis: 60%;
}

.contact-me-form form {
    width: 100%;
}

form input,
form textarea {
    background: var(--current-line);
    border: 0;
    border-radius: 0.5rem;
    color: var(--foreground);
    font-size: var(--p-font);
    margin: 1rem 0;
    outline: none;
    padding: 1rem;
    resize: none;
    width: 100%;
}

.resume-button {
    margin-top: 1rem;
}

/* Breakpoint: 1400px */
@media only screen and (max-width: 1600px) {
    .about-me-image img {
        width: 450px;
    }

    .photo-bar img {
        width: 350px;
    }
}

/* Breakpoint (Large Devices): 1200px */
@media only screen and (max-width: 1200px) {
    :root {
        --title-font: 4rem;
        --sub-title-font: 3rem;
        --section-font: 4rem;
        --h2-font: 2.75rem;
        --h3-font: 1.75rem;
        --h4-font: 1.5rem;
        --p-font: 1.17rem;
    }

    .section {
        justify-content: center;
    }

    .section-title {
        text-align: center;
    }

    .about-me-text {
        flex-basis: auto;
    }

    .about-me-image img {
        width: 480px;
    }

    .photo-bar img {
        width: 280px;
    }

    .education-opportunity {
        flex-direction: column;
    }

    .degree-details {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .education-opportunity .degree-details h3 {
        margin: 0;
    }

    .education-opportunity .degree-details .line {
        margin: 1.5rem 0;
    }

    .tab-titles-edu {
        margin-top: 2rem;
    }

    .job .employment-details {
        align-items: center;
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
    }

    .job .employment-details .employment-text {
        flex-basis: 65%;
    }

    .job .two-responsibilities {
        flex-basis: 100%;
    }

    .responsibilities {
        margin-top: 2rem;
    }

    .job .responsibilities {
        flex-basis: 100%;
    }

    .contact-me-details h2.section-title {
        text-align: start;
    }
}

/* Breakpoint (Horizontal iPad): 1024px */
@media only screen and (max-width: 1200px) {
    .photo-bar img {
        width: 240px;
    }

    section {
        padding: 70px 5%;
    }

    header {
        justify-content: end;
        padding: 30px 80px;
    }

    #open-menu {
        display: block;
    }

    #nav-menu {
        display: none;
    }
}

/* Breakpoint (Laptops): 992px */
@media only screen and (max-width: 992px) {
    :root {
        --title-font: 4rem;
        --sub-title-font: 3rem;
        --section-font: 4rem;
        --h2-font: 2.5rem;
        --h3-font: 1.5rem;
        --h4-font: 1.25rem;
        --p-font: 1.10rem;
    }

    section {
        padding: 70px 5%;
    }

    .home-text {
        margin-top: 20%;
    }

    .photo-bar img {
        width: 225px;
    }
}

/* Breakpoint (Tablets): 768px */
@media only screen and (max-width: 768px) {
    .photo-bar {
        align-items: center;
        flex-direction: column;
    }

    .photo-bar img {
        margin: 1.5rem;
        width: 400px;
    }

    #contact-me {
        flex-direction: column;
    }

    .contact-me-details {
        width: 100%;
    }

    .contact-me-details {
        align-self: center;
        width: fit-content;
    }

    .contact-me-form form {
        align-items: end;
        display: flex;
        flex-direction: column;
    }
}

/* Breakpoint (Portrait Phones): 576px */
@media only screen and (max-width: 576px) {
    :root {
        --title-font: 3rem;
        --sub-title-font: 2rem;
        --section-font: 2.75rem;
        --h2-font: 2.25rem;
        --h3-font: 1.25rem;
        --h4-font: 1.15rem;
        --p-font: 1.10rem;
    }

    #mobile-nav-menu a {
        font-size: var(--h3-font);
    }

    .employment-details {
        flex-direction: column;
    }

    .edu-select .tab-link-edu {
        font-size: 1.5rem;
    }

    .degree-details {
        flex-direction: column;
    }

    .degree-details .school-info {
        margin-top: 1.5rem;
    }
}

/* Breakpoint (Narrower Phones): 400px */
@media only screen and (max-width: 400px) {
    #mobile-nav-menu a {
        font-size: var(--h4-font);
    }

    .photo-bar img {
        width: 300px;
    }

    .edu-select .tab-titles-edu {
        align-items: center;
        flex-direction: column;
    }

    .education-opportunity .degree-details img {
        width: 275px;
    }

    .job .employment-details img {
        width: 275px;
    }

    .section-header {
        align-items: start;
        flex-direction: column;
    }

    .section-header h4 {
        margin-top: 1rem;
    }
}