/* |--| Basic Styling |------------------------------------------------------| */

:root {
    --background-color: #282A36;
    --current-line: #44475A;
    --foreground: #F8F8F2;
    --comment: #6272A4;
    --cyan: #8BE9FD;
    --green: #50FA7B;
    --orange: #FFB86C;
    --pink: #FF79C6;
    --purple: #BD93F9;
    --red: #FF5555;
    --yellow: #F1FA8C;

    --big-font: 5rem;
    --h2-font: 3rem;
    --h3-font: 2rem;
    --h4-font: 1.5rem;
    --p-font: 1.17rem;
}

* {
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

*::selection {
    background: var(--yellow);
    color: var(--background-color);
}

span::selection {
    background: var(--purple);
}

body {
    background: var(--background-color);
    color: var(--foreground);
}

section {
    padding: 70px 17%;
}

/* |--| Scrollbar |----------------------------------------------------------| */

html::-webkit-scrollbar {
    width: 0.5rem;
}


html::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: var(--pink);
    background-clip: content-box;
}

/* |--| Header |-------------------------------------------------------------| */

header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px 170px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* |--| Navigation Bar |--| */

.navbar {
    display: flex;
}

.navbar a {
    color: var(--foreground);
    font-size: 1.5rem;
    /* Perhaps make me bigger */
    font-weight: 500;
    padding: 10px 20px;
}

.navbar a:hover {
    color: var(--cyan);
    text-shadow: 0 0 20px var(--purple);
    transition: 0.4s;
}

#menu-icon {
    cursor: pointer;
    display: none;
    font-size: 2rem;
}

/* |--| Home |---------------------------------------------------------------| */

.home {
    align-items: center;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    min-height: 90vh;
    width: 100%;
}

.home::before {
    bottom: 0;
    content: '';
    background-image: url('images/space.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.home-text h1 {
    color: var(--pink);
    font-size: var(--big-font);
}

.home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.home-img {
    height: auto;
    max-width: 100%;
    pointer-events: none;
    width: 600px;
}

/* |--| About Me |-----------------------------------------------------------| */

.about-me {
    align-items: center;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 2fr);
}

.about-text h2 {
    color: var(--pink);
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.about-text .paragraph-line {
    display: flex;
    flex-direction: row;
}

.about-text .paragraph-line pre {
    color: var(--current-line);
    font-size: var(--p-font);
    margin-right: 1rem;
    margin-top: 1.15rem;
}

.about-text .paragraph-line p {
    border-left: 2px solid var(--current-line);
    font-size: var(--p-font);
    line-height: 1.7;
    margin: 0.8rem 0;
    padding-left: 1rem;
}

.about-text .paragraph-line p span {
    color: var(--purple);
}

.about-text .paragraph-line p span:hover {
    text-shadow: 0 0 20px var(--cyan);
    transition: 0.4s;
}

.about-img img {
    height: auto;
    max-width: 100%;
    pointer-events: none;
    width: 480px;
}

/* |--| Education |----------------------------------------------------------| */

.education {}

/* |--| Work Experience |----------------------------------------------------| */

.work-experience { }

/* .work-experience h2 {
    color: var(--pink);
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.work-container {
    align-items: center;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
}

.job {
    align-items: center;
    background-color: var(--current-line);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-top: 4rem;
    padding: 0 2rem 2.5rem 2rem;
    position: relative;
}

.job .job-img img {
    height: auto;
    width: 300px;
}

.job .employer {
    color: var(--purple);
}

.job .employer:hover {
    text-shadow: 0 0 20px var(--cyan);
    transition: 0.4s;
}

.job .employer h3 {
    font-size: var(--h3-font);
}

.job .employer h4 {
    font-size: var(--h4-font);
}

.job .title-setting {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.8rem;
    width: 100%;
}

.job .title-setting .title {
    color: var(--purple);
    font-size: var(--h4-font);
    font-style: italic;
}

.job .title-setting .title:hover {
    text-shadow: 0 0 20px var(--cyan);
    transition: 0.4s;
}

.job .title-setting .setting {
    align-items: end;
    display: flex;
    flex-direction: column;
    font-size: var(--p-font);
    justify-content: end;
}

.job .responsibilities {
    font-size: var(--p-font);
    margin-top: 0.8rem;
}

.job .responsibilities ul {
    list-style-type: circle;
    margin-left: 1rem;
}

.job .responsibilities ul li {
    line-height: 1.7;
    list-style-type: circle;
    margin-bottom: 0.8rem;
    text-indent: -1;
} */

/* |--| Personal Interests |-------------------------------------------------| */

.personal-interests {}

/* |--| Contact Me |---------------------------------------------------------| */

.contact-me {
    align-items: center;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 2fr);
}

.contact-me-text {
    align-self: start;
    display: flex;
    flex-direction: column;
}

.contact-me-text h2 {
    color: var(--pink);
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.contact-me-text p {
    align-items: center;
    display: flex;
    flex-direction: inline;
    font-size: var(--p-font);
    margin-top: 1.5rem;
}

.contact-me-text p:first-of-type {
    margin-top: 0;
}

.contact-me-text p i {
    color: var(--purple);
    font-size: var(--h3-font);
    margin-right: 0.8rem;
}

.contact-me-text p i:hover {
    text-shadow: 0 0 20px var(--cyan);
    transition: 0.4s;
}

.contact-me-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: 25%;
}

.contact-me-social a {
    align-items: center;
    border-radius: 50%;
    color: var(--foreground);
    display: inline-flex;
    font-size: 1.5rem;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.contact-me-social a:hover {
    box-shadow: 0 0 20px var(--cyan);
    background: var(--cyan);
    color: var(--background-color);
    transition: 0.4s;
}

.resume-button {
    background: var(--purple);
    border: 0;
    border-radius: 0.5rem;
    color: var(--foreground);
    cursor: pointer;
    display: inline-block;
    flex-basis: auto;
    font-size: var(--p-font);
    margin: 1.5rem 0;
    padding: 1rem 0;
    text-align: center;
    width: 250px;
}

.resume-button:hover {
    box-shadow: 0 0 20px var(--cyan);
    background: var(--cyan);
    color: var(--background-color);
    transition: 0.4s;
}

.contact-me form {
    width: 100%;
}

.contact-me form input,
.contact-me form textarea {
    background: var(--current-line);
    border: 0;
    border-radius: 0.5rem;
    color: var(--foreground);
    font-size: var(--p-font);
    margin: 1rem 0;
    outline: none;
    padding: 1rem;
    resize: none;
    width: 100%;
}

.form-button {
    background: var(--purple);
    border: 0;
    border-radius: 0.5rem;
    color: var(--foreground);
    cursor: pointer;
    display: inline-block;
    font-size: var(--p-font);
    margin: 1rem 0;
    padding: 1rem 3rem;
}

.form-button:hover {
    box-shadow: 0 0 20px var(--cyan);
    background: var(--cyan);
    color: var(--background-color);
    transition: 0.4s;
}